{% extends 'base.html' %}

{% block content %}
<h2>Edit Budget</h2>
<form action="{{ url_for('edit_budget', budget_id=budget.budget_id) }}" method="POST">
    
    <!-- Only Admin can see the User ID field -->
    {% if session.get('role') == 'admin' %}
        <div class="form-group">
            <label>User ID:</label>
            <input type="number" class="form-control" name="user_id" value="{{ budget.user_id }}" required>
        </div>
    {% else %}

    {% endif %}

    <div class="form-group">
        <label>Category:</label>
        <input type="text" class="form-control" name="category" value="{{ budget.category }}" required>
    </div>

    <div class="form-group">
        <label>Allocated Amount:</label>
        <input type="number" class="form-control" name="amount" value="{{ amount }}" required>
    </div>

    <div class="form-group">
        <label>Start Date:</label>
        <input type="date" class="form-control" name="start_date" value="{{ budget.start_date }}" required>
    </div>

    <div class="form-group">
        <label>End Date:</label>
        <input type="date" class="form-control" name="end_date" value="{{ budget.end_date }}" required>
    </div>

    <button type="submit" class="btn btn-primary">Update Budget</button>
</form>
{% endblock %}
